<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
</head>

<body>
  <nav>
    <div class="myNav">
      <ul class="navbar">
        <li class="navList"><a href="">HOME</a></li>
        <div class="navbar-right">
          <li class=""><a href="">GALERIA</a></li>
          <li class=""><a href="">MAPAS</a></li>
          <li class=""><a href="">DESCUBRE</a></li>
          <li class=""><a href="">TU OPINION</a></li>
        </div>

      </ul>
    </div>
  </nav>
  <main>
    <div class="myContent">
      <div class="container">
        <div class="my-column">
          <h1>Dato Curioso</h1>
          <h2>“
          </h2>
          <hr class="linea">

          <p>
            Sabias que, tanto Cundinamarca como Boyacá comparten una porción significativa de la Cordillera
            Oriental, una cadena montañosa que ha moldeado el paisaje y la cultura de ambas regiones. La
            Cordillera Oriental alberga una gran variedad de ecosistemas, desde páramos hasta valles
            interandinos, lo que ha dado lugar a una rica biodiversidad compartida por ambos departamentos.
          </p>
        </div>
        <div class="my-column2">
          <h1>Biodiversidad</h1>
          <h3>Boyacá: Un tesoro natural en cada rincón</h3>
          <p>
            La biodiversidad de Boyacá es un tesoro invaluable que nos brinda innumerables beneficios. Sus
            páramos, bosques y valles albergan una rica variedad de flora y fauna, fundamentales para la
            regulación del clima, la producción de agua limpia y la protección del suelo. Además, esta
            diversidad biológica sustenta actividades económicas como el turismo y la agricultura, a la vez
            que enriquece nuestra cultura y tradiciones. Proteger y conservar esta riqueza natural es
            esencial para garantizar un futuro sostenible para las generaciones venideras y preservar la
            identidad boyacense.
          </p>
          <br>
          <h3>Cundinamarca: Un Edén de Vida en el Corazón de Colombia</h3>
          <p>
            La biodiversidad de Cundinamarca es un tesoro natural que nos regala paisajes de ensueño y una
            rica variedad de vida. Sus páramos, bosques y valles albergan una infinidad de especies
            vegetales y animales, muchas de ellas endémicas. Esta riqueza natural no solo embellece nuestro
            entorno, sino que también regula el clima, purifica el agua y protege nuestros suelos. Además,
            la biodiversidad cundinamarquesa es fuente de recursos para la agricultura, la ganadería y el
            turismo sostenible, contribuyendo así al desarrollo económico y social de la región. Proteger
            este patrimonio natural es fundamental para garantizar un futuro sostenible y preservar la
            calidad de vida de sus habitantes.
          </p>
          <br>
          <h3>¿Por qué preocupa la pérdida de biodiversidad?</h3>
          <p>La biodiversidad proporciona muchos beneficios fundamentales para el hombre, más allá del
            suministro de materias primas. La pérdida de biodiversidad tiene efectos negativos sobre varios
            aspectos del bienestar humano, como la seguridad alimentaria, la vulnerabilidad ante desastres
            naturales, la seguridad energética y el acceso al agua limpia y a las materias primas. También
            afecta a la salud del hombre, las relaciones sociales y la libertad de elección. La sociedad
            suele tener varios objetivos en conflicto, muchos de ellos dependientes de la biodiversidad.
            Cuando el hombre altera un ecosistema para mejorar uno de los servicios que éste proporciona, su
            acción suele acarrear también cambios para otros servicios de los ecosistemas.</p>

        </div>

      </div>


    </div>
  </main>
  <script src="{{url_for('static', filename='js/home.js')}}"></script>

</body>

</html>