<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Biodiversidad en Cundinamarca y Boyacá</title>
  <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
  <header>
    <div class="wrapper">
      <div class="logo">
      </div>
      <ul class="nav-area">
        <li><a href="#">Home</a></li>
        <li><a href="{{url_for('boyaca')}}">Boyacá</a></li>
        <li><a href="{{url_for('cundinamarca')}}">Cundinamarca</a></li>
        <li><a href="{{url_for('galeria')}}">Galeria</a></li>
      </ul>
    </div>
    <div class="welcome-text">
      <h1>Explora y descubre la <span>biodiversidad</span></h1>
      <a href="#">Contáctanos</a>
    </div>
  </header>

  <div class="container mt-5">
    <div class="row">
      <div class="col-4">
        <div class="archive-box">
          <h1>Campamento Base</h1>
          <p>Prepárate para descubrir la riqueza natural de los departamentos de Cundinamarca y Boyacá, donde sus
            montañas, valles y páramos albergan una biodiversidad única en el mundo.</p>
        </div>

        <h2 class="mt-4">Sobre la Biodiversidad de Cundinamarca</h2>
        <p>Cundinamarca cuenta con una gran variedad de ecosistemas, como páramos, bosques andinos y selvas, donde
          habitan especies endémicas de plantas y animales. Entre sus áreas protegidas, el Parque Natural Chingaza y el
          Parque Natural Sumapaz destacan por su biodiversidad y recursos hídricos, abasteciendo a miles de personas en
          la región.</p>

        <h2 class="mt-4">La Fauna de Boyacá</h2>
        <p>El departamento de Boyacá es hogar de especies icónicas como el oso andino, el venado de páramo y una gran
          variedad de aves, incluyendo colibríes y águilas. Este territorio cuenta con reservas naturales como el
          Santuario de Fauna y Flora Iguaque, que protege hábitats vitales para estas especies.</p>

        <h4 class="widget-title mt-4">Acerca de Nosotros</h4>
        <div class="about-widget">
          <p>Somos una organización comprometida con la preservación y el eco-turismo responsable, enfocada en promover
            la biodiversidad y los paisajes de Colombia. Creemos en el poder de la naturaleza como una fuente de
            inspiración y aventura.</p>
        </div>
      </div>

      <div class="col-8">
        <div class="archive-box">
          <h2>Paisajes de Cundinamarca y Boyacá</h2>
          <p>Explora los impresionantes paisajes de Cundinamarca y Boyacá, desde las místicas montañas de la cordillera
            oriental hasta los extensos valles y lagunas que forman parte de su biodiversidad.</p>

          <div class="row mt-4">
            <div class="col-6">
              <h3>Páramo de Sumapaz</h3>
              <p>Ubicado en Cundinamarca, el páramo de Sumapaz es uno de los ecosistemas más importantes para la
                regulación del agua y la conservación de especies endémicas. Este lugar sagrado es ideal para caminatas
                y avistamiento de fauna y flora. El páramo de Sumapaz se encuentra a altitudes que van desde los 3,000 hasta más de 4,000 metros sobre el nivel del mar. A estas alturas, la temperatura es fresca y húmeda, lo que favorece la presencia de una flora y fauna únicas, adaptadas a condiciones de baja temperatura y alta humedad.</p>
            </div>
            <div class="col-6">
              <img class="img-fluid rounded mx-auto d-block"
                src="https://images.pexels.com/photos/28155050/pexels-photo-28155050/free-photo-of-paramo-de-sumapaz.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" alt="Páramo de Sumapaz">
            </div>
          </div>

          <div class="row mt-4">
            <div class="col-6">
              <h3>Santuario de Fauna y Flora Iguaque</h3>
              <p>Este santuario, localizado en Boyacá, alberga una gran diversidad de especies y ofrece rutas de
                senderismo hacia la laguna sagrada de Iguaque, donde se pueden observar ecosistemas de bosque andino y
                páramo. Los visitantes pueden disfrutar de una serie de rutas de senderismo que llevan hasta la laguna, permitiéndoles explorar y descubrir la rica flora y fauna del santuario. Sin embargo, debido a la fragilidad de sus ecosistemas, el turismo en Iguaque está regulado para asegurar su conservación y minimizar el impacto ambiental.

                El Santuario de Fauna y Flora Iguaque no solo es un lugar de gran belleza natural, sino también un símbolo cultural y espiritual, que invita a quienes lo visitan a conectarse profundamente con la historia, la naturaleza y la cultura de Boyacá. </p>
            </div>
            <div class="col-6">
              <img class="img-fluid rounded mx-auto d-block"
                src="https://images.pexels.com/photos/10388971/pexels-photo-10388971.png?auto=compress&cs=tinysrgb&w=800" alt="Santuario Iguaque">
            </div>
          </div>
        </div>

        <h2 class="text-center mt-5">Datos Curiosos</h2>
        <p>¿Sabías que Cundinamarca y Boyacá albergan la mayor cantidad de páramos en Colombia? Estos ecosistemas,
          conocidos como 'fábricas de agua', ayudan a regular el clima y suministrar agua a gran parte del país.</p>
      </div>
    </div>
  </div>
</body>
<script src="{{url_for('static', filename='js/home.js')}}"></script>

</html>